body{
    margin: 0;
    padding: 0;
    background-color: #48f;
}

h1{
    font-size: 60PX;
    margin: 0;
}

h2{
    font-size: 40px;
}

header{
    width: 100%;
    height: 50dvh;
    background-image: url("../img/header.jpg");
    background-size: cover;
    background-position: center;      
    display: flex;
    align-items: end;   
    justify-content: center;
}



/*-------------- BARRA HORIZONTAL -----------*/
.hor_nav{    
    width: 100%;
    height: 40px;      
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    position: sticky;
    top: 0;  
    background-color:#9dc4f6;
    box-shadow: 0 0 30px black;  
}

.hor_list{
    margin: 0;
    display: flex;
    gap: 5px;
    padding: 0;     
}

.hor_items{    
    list-style: none;
    border-radius: 20px;
    padding: 5px;
    transition-property: background-color;
    transition-duration: .4s;
}

.hor_items a{     
    text-decoration: none; 
    color: #551A8B;   
}

.hor_items:hover{
    background-color: #48e;
    transition-property: background-color;
    transition-duration: .4s;
}

/*----------------------------------------*/

/* divs para ubicar cada juguete en la tienda */

main{
    display: flex; 
    flex-wrap: wrap;   
    align-items: center; 
    justify-content: center;     
}


/* ESTO SE REPITE POR CADA ELEMENTO SOLO CAMBIAR EL NUMERO DE CADA ELEMENTO */
/* ------------------------------------------------ */

.container{
    width: 95%;    
    min-height: 400px;
    background-color: #551A8B;
    box-shadow: 0 0 40px black;
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);      
    gap: 3px; 
    border-radius: 10px; 
    box-sizing: border-box;
}

.nombre{
    width: 100%;
    background-color: aliceblue;               
    grid-column-start: 1;
    grid-column-end: 6;    
    border-radius: 0 0 10px 10px;     
    padding: 0;      
}

p{     
    font-size: 16px;        
    width: 100%;
    white-space:pre-line;
    margin-left: 10px; 
    text-align: left;     
}

/* AHORA IREMOS AGREGANDO LAS FOTOS DE CADA PRODUCTO */

.foto1{
    min-height: 400px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987226/1_nbyqts.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto2{
    min-height: 400px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987225/2_k32goo.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto3{
    min-height: 400px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987229/3_gd0xic.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto4{
    min-height: 400px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987229/4_xzhxrn.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto5{
    min-height: 400px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987229/5_z528mi.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto6{
    min-height: 400px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987230/6_fmmljv.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto7{
    min-height: 350px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987234/7_h6kkrk.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto8{
    min-height: 500px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987236/8_xb7vtl.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto9{
    min-height: 500px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987236/9_zd3dbt.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto10{
    min-height: 500px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987237/10_qsl9qy.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto11{
    min-height: 500px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987223/11_jzy2ml.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto12{
    min-height: 500px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987226/12_bvbxec.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto13{
    min-height: 500px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987224/13_j9fcjb.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto14{
    min-height: 600px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987227/14_bas3r8.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto15{
    min-height: 500px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987229/15_o9rawj.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto16{
    min-height: 500px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987230/16_cunqfj.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto17{
    min-height: 400px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987233/17_vmloie.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}
.foto18{
    min-height: 700px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987237/18_xlxxet.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto19{
    min-height: 600px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987248/19_oem7fp.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto20{
    min-height: 400px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987248/20_pkm8pu.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto21{
    min-height: 400px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987247/21_wq8orc.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto22{
    min-height: 600px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987247/22_djmc6v.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto23{
    min-height: 500px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987248/23_hhv5a0.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto24{
    min-height: 400px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987248/24_qdvgtt.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto25{
    min-height: 300px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987251/25_zmr28s.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto26{
    min-height: 300px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987251/26_cnohwf.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto27{
    min-height: 200px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987253/27_l4qgph.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto28{
    min-height: 300px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987255/28_vuvnmz.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto29{
    min-height: 300px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987255/29_os1art.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto30{
    min-height: 300px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987258/30_ymvi3j.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto31{
    min-height: 300px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987260/36_szbayb.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto32{
    min-height: 300px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987264/37_zo0nbj.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto33{
    min-height: 300px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987258/33_k6avxy.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto34{
    min-height: 600px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987260/34_dpl8py.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto35{
    min-height: 700px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987259/35_z50yut.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto36{
    min-height: 400px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987266/38_mpqmuq.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto37{
    min-height: 600px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987274/46_khtbmd.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto38{
    min-height: 800px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987265/39_ou9d6u.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto39{
    min-height: 800px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987266/40_uaimmi.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto40{
    min-height: 800px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987268/42_stbkuj.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto41{
    min-height: 200px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987267/41_jok8co.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto42{
    min-height: 300px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987270/43_v8jbzu.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto43{
    min-height: 700px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987273/44_chs6h4.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto44{
    min-height: 700px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987271/45_y6nenl.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto45{
    min-height: 400px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987276/48_qfqkfz.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto46{
    min-height: 400px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987276/49_n7xiuw.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto47{
    min-height: 400px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987274/47_fdz1ee.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto48{
    min-height: 300px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987276/50_q8vouk.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto49{
    min-height: 400px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987278/51_ve3soh.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto50{
    min-height: 600px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987281/52_efyvbb.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto51{
    min-height: 400px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987279/53_oddca0.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto52{
    min-height: 800px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987279/54_qubzti.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto53{
    min-height: 600px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987284/55_ldaxno.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto54{
    min-height: 300px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987283/56_kfwo8v.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto55{
    min-height: 800px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987283/57_qu4jxh.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto56{
    min-height: 500px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987284/58_gi4d11.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto57{
    min-height: 500px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987283/59_oq9w0c.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto58{
    min-height: 300px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987223/61_o4vvza.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}

.foto59{
    min-height: 250px;
    background-image: url("https://res.cloudinary.com/dumxtozlm/image/upload/v1771987285/60_j0cqk6.jpg");
    background-size: 100% 100%;
    background-position: center; 
    grid-column: 1/6;
    grid-row: 1/5;
    border-radius: 10px 10px 0 0;
}
/* ----------------------------------------------------- */

/* ESTO SE REPITE POR CADA ELEMENTO SOLO CAMBIAR EL NUMERO DE CADA ELEMENTO */
/* ------------------------------------------------ */
